<div class="container">
    <div class="wrapper">
        <div class="vid-timelime">
            <div class="progress">
                <span>00:00</span>
                <div class="progress-bar"></div>
            </div>
        </div>

        <ul class="controls">
            <li class="options left">
                <button class="volume"><mat-icon>volume_up</mat-icon></button>
                <input type="range">
                <div class="timer">
                    <p class="current-time">00:00</p>
                    <p class="separator">00:00</p>
                    <p class="duration">00:00</p>
                </div>
            </li>
            <li class="options center">
                <button class="skip-backwards"></button>
            </li>
            <li class="options right"></li>
        </ul>
        <video src="/assets//videos/demo.mp4"></video>

    </div>
</div>